# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

# Reecriture d'url.
Options +FollowSymlinks
RewriteEngine on
RewriteRule ^logo-*[0-9]*\.svg$ svg.php [L]
RewriteRule ^logo-*[0-9]*\.png$ png.php [L]
RewriteRule ^logo-*[0-9]*\.jpg$ jpeg.php [L]
